@import "tailwindcss";

:root {
  --background: #26211d;
  --foreground: #dcd6c6;
  --primary: #fcdc59;
  --secondary: #ef738c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    --background: #dcd6c6;
    --foreground: #26211d;
    --primary: #fcdc59;
    --secondary: #ef738c;
  }
} */

/* not sure what this is for, figure out later */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ensure headings have proper scroll margin */
.prose h1,
.prose h2,
.prose h3 {
  scroll-margin-top: 100px;
}

/* Fix for Safari smooth scrolling */
@supports (-webkit-touch-callout: none) {
  html {
    scroll-behavior: smooth;
  }
}
